<div class="w-100">
  <div class="row">
    <div class="col-6 col-sm-8 col-md-10 mt-3">
      <h1 class="font-title">Películas</h1>
      <hr>
    </div>
    <div class="col-6 col-sm-4 col-md-2 mt-3 text-right">
      <button
        mat-raised-button
        color="primary"
        class="rounded px-1 px-sm-3 py-0 py-sm-2"
        (click)="openNewMoviePopup()"
      >Añadir Película</button>
    </div>
  </div>

  <!--TABLA DE PELICULAS-->
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Jason Bourne">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{ row.id }} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nameMovie">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let row"> {{row.nameMovie}} </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Publicación </th>
        <td mat-cell *matCellDef="let row"> {{row.date}} </td>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.state === 'Activo' ? 'green' : 'red' "> {{row.state}} </td>
      </ng-container>

      <!-- Edit/Delete Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row, let index = index">
          <div class="row">
            <div class="col px-1">
              <i class="material-icons color-blue cursor-pointer" (click)="openEditMoviePopup(row.id, index)">edit</i>
            </div>
            <div class="col px-1">
              <i class="material-icons color-red cursor-pointer" (click)="deleteMovie(row.id, index)">delete</i>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
