.sidenav-header {
  height: 10vh;
}

.sidenav-content {
  min-height: 80vh;
}

.sidenav-footer {
  height: 10vh;
}

.list-group-item {
  a:hover {
    text-decoration: none;
    font-size: 16.5px;
    font-weight: bold;
  }
}
