<form class="w-100" [formGroup]="formMovie" (ngSubmit)="onSubmit()">
  <div class="col-12">
    <div mat-dialog-content class="pr-0 mr-0">
      <mat-form-field class="w-100 pr-0">
        <mat-label>Nombre de la Película</mat-label>
        <input matInput formControlName="nameMovie">
      </mat-form-field>
    </div>
  </div>
  <div class="col-12">
    <div mat-dialog-content class="pr-0 mr-0">
      <mat-form-field class="w-100 pr-0">
        <input matInput [ngxMatDatetimePicker]="picker"
               formControlName="date"
               placeholder="Fecha de Publicación">
        <mat-datepicker-toggle matSuffix [for]="picker">
        </mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker
                                 [showSpinners]="showSpinners"
                                 [showSeconds]="showSeconds"
                                 [stepHour]="stepHour"
                                 [stepMinute]="stepMinute"
                                 [stepSecond]="stepSecond"
                                 [color]="color">
        </ngx-mat-datetime-picker>
      </mat-form-field>
    </div>
  </div>
  <div class="col-12">
    <div mat-dialog-content class="pr-0 mr-0">
      <mat-form-field class="w-100 pr-0">
        <mat-label>Seleccione el estado</mat-label>
        <mat-select formControlName="state">
          <mat-option *ngFor="let state of states" [value]="state.value">
            {{state.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="col-12 py-3">
    <div mat-dialog-actions class="pr-0 mr-0 d-flex justify-content-center">
      <button mat-button class="rounded px-1 px-sm-3 py-1 mr-5" (click)="onNoClick()">Cancelar</button>
      <button mat-raised-button
              type="submit"
              color="accent"
              class="rounded px-1 px-sm-3 py-1"
              [disabled]="formMovie.invalid">Guardar
        <mat-icon *ngIf="loading" color="warn">
          <mat-spinner diameter="20">
        </mat-spinner>
        </mat-icon>
      </button>
    </div>
  </div>

</form>
