@import './assets/styles/styles';

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-title {
  font-size: 24px;
  @include media-breakpoint-up(sm) {
    font-size: 30px;
  }
  @include media-breakpoint-up(md) {
    font-size: 34px;
  }
}

.color-blue {
  color: $blue;
  &:hover {
    color: $blue2;
  }
}

.color-red {
  color: #dd2e44;
  &:hover {
    color: #ff4458;
  }
}

.cursor-pointer {
  cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
